<h1>Contact</h1>
<div ng-controller="contractCrlt">
    <div ng-repeat="contact in contracts ">
       <ul> 
       <li> Name: {{contact.name | capatilize}}<br/>
            Phone Int: {{contact.phone | formatnumber: 'int' }}
            <br/>phone local: {{contact.phone | formatnumber: 'local' }}</li>
       </ul>
    </div>

</div>
